@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/*@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:900');*/

* {
    box-sizing: border-box;
}

.whole_page_container {
    display: flex;
    /* from https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    /* This defines a flex container; inline or block depending on the given value. It enables a flex context for all its direct children. */
    /* ...'Direct children means just the 1st level of children not the children of children.... if I remove 'display: flex' from all the children then the display layout changes */
    /*min-height: 100vh;*/ /* Viewport Height */
    /*max-height: 100vh;*/
    height: 100vh; /* using 100% instead of vh100 doesn't work */
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color:darkseagreen;
    background:chocolate;
}
 /* what makes these three 'outer's behave differently? */
 /* it's just one of them having a 'flex: 1;' */
 /* it is doing what I want now with just the middle box having a 'flex 1' and the other's not, but I'm not sure if it should be done this way */
.header_outer {
    display: flex;
    flex-direction: column; /* want items to be vertical*/
    background: #0000ff;
    text-align: center;
    width: 100%;
    padding:6px;
    justify-content: flex-start;
    /*flex: auto; this makes header_title_outer become huge height, much larger than it's text */
}

.middle_outer {
    display: flex;
    flex-direction: column;
    background: #4000a0;
    /*text-align: center;*/
    width: 100%;
    padding:15px;
    justify-content: flex-start;
    /*flex: 1; */
    flex: auto; /* recommended by https://hacks.mozilla.org/2013/12/application-layout-with-css3-flexible-box-module/ */
}

.footer_outer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     /* two areas at either end*/
    background:cornflowerblue;
    padding: 15px;
    /*min-height: 40px;*/
    /* the bottom border of the left items is cut off, the bottom border of the whole container is cut off*/
    /* there is a white border around the whole page, that isn't the whole_page_container colour, but it isn't present at the bottom edge */
}

  
.header_title_outer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1; /* not flex-grow */
    background:grey;
}

.header_title {
    display: flex;
    justify-content: center;
     /* centers the text in the box, does not centre the box in the parent*/
     /* adding 2 padding boxes to left and right made it centre, but removing those boxes left it still centered instead of it reverting??? */
    background:#018181;
    color: #88ff00;
    font-size: 40px;
    padding: 15px;
    width: 80%;
    min-height: 20px;
}

/*--------------------------------*/

.navbar_outer {
    display: flex;
    background: #a08000;
    min-height: 30px;
    flex-direction: row;
    color: #00a0ff;
    border: 2px solid red;
    border-radius: 5px;
    justify-content: flex-end;
    /*padding: 15px;*/
}

.navbar_elements {
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
}

.navbar_element1 {
    background: #804000;
}
.navbar_element2 {
    background: #806000;
}

/* ------------------------------------------------ */


.footer_left {
    display: flex;
    flex-direction: row;
    padding: 5px;
    background:darkgreen;
}

.footer_item_left {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    background:forestgreen;
}

.footer_right {
    display: flex;
    flex-direction: row;
    padding: 5px;
    background:darkred;
}
  

.footer_item_right {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    background:firebrick
}

